.all{
    text-align: center;
    width: 400px;
    padding-bottom: 30px;
    border: 1px solid gray;
    margin: auto;
    border-radius: 10px;
}
.min{
    width: 400px;
    height: 30px;
    background-color: yellow;
    border-radius: 10px;
}
.icon{
    width: 359px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    color: gray;
}
input{
    padding: 10px 90px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.click{
  border: none;
  margin: 0 auto;
  color: white;
  
  text-align: center;
  text-decoration: none;
  width: 201px;
  display: flex;
  
  font-size: 16px;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 20px;
}
.click i{
    border-radius: 50%;
    border: 1px solid rgb(63, 16, 107);
    padding: 12px;
}
.click button{
    background-color: blueviolet;
    font-size: 26px;
    color: white;
    border:  1px solid blueviolet;
    margin-left: 20px;
}

.btn{
    color: gray;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid gray;
    margin-left: -40px;
}